<div [ngSwitch]="widget['widgetType']">
    <div *ngSwitchCase="'HEADING'">
        <app-widget-header></app-widget-header>
    </div>
    <div *ngSwitchCase="'IMAGE'">
        <app-widget-image></app-widget-image>
    </div>
    <div *ngSwitchCase="'YOUTUBE'">
        <app-widget-youtube></app-widget-youtube>
    </div>
    <div *ngSwitchCase="'HTML'">
        <app-widget-html></app-widget-html>
    </div>
    <div *ngSwitchCase="'TEXT'">
        <app-widget-text></app-widget-text>
    </div>
</div>
