<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for making website for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- STYLE sheet comes after all the libraries are loaded. Document style-->
    <link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../css/style.css"/>
    <title>User Login</title>
</head>


<body class="dk-top-padding">
<div class="login container">
    <h1>Login</h1>
    <form>
        <input type="text" class="form-control dk-lower-margin" placeholder="username"/>
        <input type="password" class="form-control dk-lower-margin" placeholder="password"/>
        <a class="btn btn-primary btn-block" href="profile.html">Login</a>
        <a class="btn btn-success btn-block" href="register.html">Register</a>
    </form>
</div>
</body>
</html>
