<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for making website for mobile-->
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../../css/style.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-fixed-top bg-primary square nav">
    <div class="container-fluid">
        <a class="navbar-brand thick bg-primary" href="profile.html">
            <b>Profile</b>
        </a>
        <a class="navbar-brand bg-primary pull-right" href="profile.html">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>
<div class="container dk-fixed-bottom-navbar-padding dk-fixed-top-navbar-padding">
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="walice">
        </div>
    </form>

    <form>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="alice.wonderland@unicorn.com">
        </div>
    </form>

    <form>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" id="first-name" placeholder="Alice">
        </div>
    </form>

    <form>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last-name" placeholder="Wonderland">
        </div>
    </form>
    <a class="btn btn-primary btn-block"
       href="../website/website-list.html">Websites</a>
    <a class="btn btn-danger btn-block "
       href="login.html" >Logout</a>
</div>
<nav class="navbar navbar-fixed-bottom square bg-primary">
    <div class="container-fluid">
        <a href="profile.html">
            <span class="navbar-brand glyphicon glyphicon-user pull-right bg-primary"></span>
        </a>
    </div>
</nav>
</body>
</html>
