/* You can add global styles to this file, and also import other style files */
.dk-lower-margin {
    margin-bottom: 10px;
}

.dk-no-padding {
    padding: 0;
}

.dk-no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

body.dk-top-padding {
    padding-top: 36px;
}

.dk-borderless {
    border: 0;
}

.dk-fixed-top-navbar-padding {
    padding-top: 70px;
}

.dk-fixed-bottom-navbar-padding {
    padding-bottom: 70px;
}

.dk-no-margin {
    margin: 0px;
}

.mycontent-left {
    border-right: 1px dashed #333;
}

.mycontent-right {
    border-left: 1px dashed #333;
}

textarea.dk-fixed-width {
    min-width: 100%;
    max-width: 100%;
}

.dk-square {
    border-radius: 0;
}

.dk-widget-toolbar {
    color: #ffff;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.75);
    border-bottom-left-radius: 4px;
    padding: 5px;
}

.dk-text-dark {
    color: #000000;
}

.dk-li-right-margin {
    margin-right: 7px;
}