/* You can add global styles to this file, and also import other style files */
input.form-control {
    margin-bottom: 5px;
}

body.dk-top-padding {
    padding-top: 36px;
}

.dk-fixed-top-navbar-padding {
    padding-top: 70px;
}

.dk-fixed-bottom-navbar-padding {
    padding-bottom: 70px;
}

.square {
    border-radius: 0;
}