<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top bg-secondary">
    <a class="bg-secondary navbar-brand" href="widget-list.html">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <b class="navbar-brand dk-no-side-padding dk-no-margin"> Choose Widget </b>
  </nav>
  <div class="container-fluid dk-fixed-top-navbar-padding dk-fixed-bottom-navbar-padding">
    <ul class="list-group row">
      <li class="list-group-item text-primary dk-borderless">
        <a href="widget-heading.html"> Header </a>
      </li>
      <li class="list-group-item text-primary dk-borderless">
        <a href="#"> Label </a>
      </li>
      <li class="list-group-item text-primary dk-borderless">
        <a href="#"> HTML </a>
      </li>
      <li class="list-group-item text-primary dk-borderless">
        <a href="#"> Input Text </a>
      </li>
      <li class="list-group-item text-primary dk-borderless">
        <a href="#"> Link </a>
      </li>
      <li class="list-group-item text-primary dk-borderless">
        <a href="#"> Button </a>
      </li>
      <li class="list-group-item text-primary dk-borderless">
        <a href="widget-image.html"> Image </a>
      </li>
      <li class="list-group-item text-primary dk-borderless">
        <a href="widget-youtube.html"> YouTube </a>
      </li>
      <li class="list-group-item text-primary dk-borderless">
        <a href="#"> Data Table </a>
      </li>
      <li class="list-group-item text-primary dk-borderless">
        <a href="#"> Repeater </a>
      </li>
    </ul>
  </div>
  <nav class="navbar navbar-default bg-secondary navbar-fixed-bottom">
    <a [routerLink]="['/user/:uid']" class="navbar-brand pull-right">
      <span class="glyphicon glyphicon-user text-primary"></span>
    </a>
  </nav>
</div>