<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/style.css"/>
    <title>Page List</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top bg-secondary">
        <a href="../website/website-list.html" class="navbar-brand">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <p class="dk-no-margin navbar-brand">Pages</p>
        <a href="page-new.html" class="navbar-brand pull-right">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </nav>
    <div class="container-fluid dk-no-padding dk-fixed-top-navbar-padding dk-fixed-bottom-navbar-padding">
        <ul class="list-group">
            <li class="list-group-item dk-no-side-padding text-primary dk-borderless">
                <div class="container-fluid row">
                    <a href="../widget/widget-list.html" class="col-xs-11"> Blog Posts </a>
                    <a href="page-edit.html" class="col-xs-1">
                        <span class="pull-right glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </li>
            <li class="list-group-item dk-no-side-padding text-primary dk-borderless">
                <div class="container-fluid row">
                    <a href="../widget/widget-list.html" class="col-xs-11"> Blog </a>
                    <a href="page-edit.html" class="col-xs-1">
                        <span class="pull-right glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </li>
            <li class="list-group-item dk-no-side-padding text-primary dk-borderless">
                <div class="container-fluid row">
                    <a href="../widget/widget-list.html" class="col-xs-11"> Home </a>
                    <a href="page-edit.html" class="col-xs-1">
                        <span class="pull-right glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </li>
            <li class="list-group-item dk-no-side-padding text-primary dk-borderless">
                <div class="container-fluid row">
                    <a href="../widget/widget-list.html" class="col-xs-11"> About </a>
                    <a href="page-edit.html" class="col-xs-1">
                        <span class="pull-right glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </li>
            <li class="list-group-item dk-no-side-padding text-primary dk-borderless">
                <div class="container-fluid row">
                    <a href="../widget/widget-list.html" class="col-xs-11"> Contact Us </a>
                    <a href="page-edit.html" class="col-xs-1">
                        <span class="pull-right glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <a href="../user/profile.html" class="navbar-brand pull-right">
            <span class="glyphicon glyphicon-user text-primary"></span>
        </a>
    </nav>
</div>
</body>
</html>