<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top bg-secondary">
    <a class="bg-secondary navbar-brand" href="widget-list.html">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
    <p class="navbar-brand dk-no-side-padding dk-no-margin"><b>Edit Widget</b></p>
    <a class="bg-secondary pull-right navbar-brand" href="widget-list.html">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </nav>
  <div class="container-fluid dk-fixed-top-navbar-padding dk-fixed-bottom-navbar-padding">
    <form class="form-group">
      <label for="widget-name"> Name </label>
      <input class="form-control dk-lower-margin" id="widget-name" placeholder="Name"/>
      <label for="widget-text"> Text </label>
      <input class="form-control dk-lower-margin" id="widget-text" placeholder="Text"/>
      <label for="widget-url"> URL </label>
      <input class = "form-control dk-lower-margin" id="widget-url" placeholder="http://www.location-to-video.com"/>
      <label for="widget-size"> Width </label>
      <div class="input-group dk-lower-margin">
        <input class = "form-control" type="number" id="widget-size" value=100 placeholder="100"
               min="0" max="100"/>
        <span class="input-group-addon">%</span>
      </div>
      <a href="widget-list.html" class="btn btn-danger form-control">Delete</a>
    </form>
  </div>
  <nav class="navbar navbar-default bg-secondary navbar-fixed-bottom">
    <a href="../user/profile.html" class="navbar-brand pull-right">
      <span class="glyphicon glyphicon-user text-primary"></span>
    </a>
  </nav>
</div>