<div class="container-fluid">
    <nav class="navbar navbar-fixed-top bg-primary">
        <div class="hidden-xs hidden-sm col-md-4 row">
            <a class="navbar-brand" [routerLink]="['/user', userId, 'website']">
                <span class="glyphicon glyphicon-chevron-left bg-primary"></span>
            </a>
            <p class="navbar-brand text-center dk-no-margin dk-no-side-padding"><b> Website </b></p>
            <a class="navbar-brand pull-right">
                <span class="glyphicon glyphicon-plus bg-primary"></span>
            </a>
        </div>
        <div>
            <a class="navbar-brand visible-xs visible-sm" [routerLink]="['/user', userId, 'website']">
                <span class="glyphicon glyphicon-chevron-left bg-primary"></span>
            </a>
            <p class="navbar-brand text-center dk-no-margin"><b> New Website </b></p>
            <a class="button navbar-brand pull-right" (click)="createWebsite()">
                <span class="glyphicon glyphicon-ok bg-primary"></span>
            </a>
        </div>
    </nav>
    <div class="dk-fixed-bottom-navbar-padding dk-fixed-top-navbar-padding">
        <div class="col-md-4 hidden-xs hidden-sm">
            <ul class="list-group" *ngFor="let website of websites">
                <li class="row list-group-item text-primary dk-borderless dk-li-right-margin">
                    <div class="row dk-li-right-margin">
                        <a [routerLink]="['/user', userId, 'website', website['_id'], 'page']">{{website['name']}}</a>
                        <a [routerLink]="['/user', userId, 'website', website['_id']]">
                            <span class="pull-right glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div *ngIf="errorFlag" class="alert alert-danger">{{errorMsg}}</div>
            <form class="form-group" #f="ngForm">
                <label for="websitename"> Name </label>
                <input class="form-control dk-lower-margin" id="websitename" name="websitename" ngModel required
                       #websitename="ngModel"  placeholder="Name of the website">
                <span class="help-block" *ngIf="!websitename.valid && websitename.touched">Please enter website
                    name</span>
                <label for="websitedesc"> Description </label>
                <textarea class="form-control dk-fixed-width dk-lower-margin" rows="3" name="websitedesc"
                          id="websitedesc" placeholder="Some description about your website" ngModel
                          #websitedesc="ngModel"></textarea>
            </form>
        </div>
    </div>
    <nav class="navbar navbar-fixed-bottom bg-primary">
        <a [routerLink]="['/profile']">
            <span class="navbar-brand pull-right bg-primary glyphicon glyphicon-user"></span>
        </a>
    </nav>
</div>